{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}SignUp{% endblock title %}
{% block profile %}active{% endblock profile %}
{% block content %}
<div class="w-25 m-auto mt-5">
    {% if messages %}
    {% for msg in messages %}
    <p class="text-{{msg.tags}} fs-3">{{msg}}</p>
    {% endfor %}
    {% endif %}
</div>
<div class="w-25 m-auto border rounded-3 p-5 mt-5">
    <h3 class="">User Information:</h3> <hr>
    <p class="fs-5"><strong>Username:</strong> {{object.username}}</p>
    <p class="fs-5"><strong>Full Name:</strong> {{object.first_name}} {{object.last_name}}</p>
    <p class="fs-5"><strong>email:</strong> {{object.email}}</p>
    <a href="{% url "edit_profile" %}" class="btn btn-primary mx-2">Edit Pofile</a>
    <a href="{% url "edit_password" %}" class="btn btn-warning">Edit Password</a>
</div>
<div class="w-75 m-auto">
    <h3 class="my-5">Music Album Details:</h3>
    <table class="table table-bordered border-black">
  <thead>
    <tr>
      <th class="text-center" scope="col">ID</th>
      <th class="text-center" scope="col">Musician Name</th>
      <th class="text-center" scope="col">Email</th>
      <th class="text-center" scope="col">Album Rating</th>
      <th class="text-center" scope="col">Instrument Type</th>
      <th class="text-center" scope="col">Album Name</th>
      <th class="text-center" scope="col">Release Date</th>
      <th class="text-center" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for album in data %}
    <tr>
      <th class="text-center" scope="row">{{ forloop.counter }}</th>
      <td>
        <a href="{% url "edit_musician" album.musician.id %}" class="text-decoration-none">{{album.musician.frist_name}} {{album.musician.last_name}}</a>
      </td>
      <td>{{album.musician.email}}</td>
      <td class="text-center">{{album.rating}}</td>
      <td>{{album.musician.instrument_type}}</td>
      <td>{{album.name}}</td>
      <td>{{album.release_date}}</td>
      <td class="text-center">
        <a href="{% url "edit_album" album.id %}" class="btn btn-warning">Edit</a>
        <a href="{% url "delete_musician" album.musician.id %}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}