{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}SignUp{% endblock title %}
{% block {{active}} %}active{% endblock {{active}} %}
{% block content %}

<form method="post" class="w-50 m-auto mt-5">
    {% if messages %}
    {% for msg in messages %}
    <p class="text-{{msg.tags}} fs-3">{{msg}}</p>
    {% endfor %}
    {% endif %}
    <h1>{{type}}</h1>
    {% csrf_token %}
    <!--{{form|crispy}}-->
    {% for fm in form %}
    {{fm.label_tag}}
    {{fm}}
    {{fm.errors|striptags}}
    {% endfor %}
    <button type="submit" class="btn btn-warning mt-5">Submit</button>
</form>
{% endblock content %}