{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block home %}active{% endblock home %}
{% block content %}
<div class="w-75 m-auto">
    <h3 class="my-5">Music Album Details:</h3>
    <table class="table table-bordered border-black">
  <thead>
    <tr>
      <th class="text-center" scope="col">ID</th>
      <th class="text-center" scope="col">Musician Name</th>
      <th class="text-center" scope="col">Email</th>
      <th class="text-center" scope="col">Album Rating</th>
      <th class="text-center" scope="col">Instrument Type</th>
      <th class="text-center" scope="col">Album Name</th>
      <th class="text-center" scope="col">Release Date</th>
    </tr>
  </thead>
  <tbody>
    {% for album in data %}
    <tr>
      <th class="text-center" scope="row">{{ forloop.counter }}</th>
      <td>
        {{album.musician.frist_name}} {{album.musician.last_name}}
      </td>
      <td>{{album.musician.email}}</td>
      <td class="text-center">{{album.rating}}</td>
      <td>{{album.musician.instrument_type}}</td>
      <td>{{album.name}}</td>
      <td>{{album.release_date}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}